@{
    ViewBag.Title = "Reinsdyr";
}
@model Juleverksted.Controllers.Reinsdyrmodel


<div class="row">
    <div class="col-md-8">
        <p>
            Grinchen liker RegEx, derfor liker ingen Grinchen. Her må dere finne ut hvilke kodeord som går gjennom RegExene for å komme dere videre i jakten på Grinchen!
        </p>

    </div>
    <div class="col-md-4">

    </div>
</div>


@using (Html.BeginForm("MyPost", "Home", Model, FormMethod.Post))
{
    <fieldset class="filtering">
        <div>
            
            <div class="form-group">
<b>Nisse:</b>
                @Html.EditorFor(m => m.Something0)
                @Html.ValidationMessageFor(m => m.Something0)
            </div>
            <div class="form-group">
                <b>Juletre:</b>
                @Html.EditorFor(m => m.Something1)
                @Html.ValidationMessageFor(m => m.Something1)
                <br />
            </div>
            <div class="form-group">
                <b>Julesokk:</b>
                @Html.EditorFor(m => m.Something2)
                @Html.ValidationMessageFor(m => m.Something2)
                <br />
            </div>
            <div class="form-group">
                <b>Pinnekjøtt er bedre en ribbe:</b>
                @Html.EditorFor(m => m.Something3)
                @Html.ValidationMessageFor(m => m.Something3)
                <br />
            </div>
            <div class="form-group">
                <b>Julebord:</b>
                @Html.EditorFor(m => m.Something4)
                @Html.ValidationMessageFor(m => m.Something4)
                <br />
            </div>
            <div class="form-group">
                <b>Juleøl:</b>
                @Html.EditorFor(m => m.Something5)
                @Html.ValidationMessageFor(m => m.Something5)
                <br />
            </div>
            <div class="form-group">
            <b>-:</b>
                @Html.EditorFor(m => m.Something6)
                @Html.ValidationMessageFor(m => m.Something6)
                <br />
            </div>
            <div class="filterSubmitBox">
                <input type="submit" value="Show Messages" />
            </div>
        </div>
    </fieldset>
}